.footer {
  height: 100px;
  border-top-left-radius: 2.3rem;
  border-top-right-radius: 2.3rem;
}

.btnBuy {
  background-color: #c67c4e;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 0.325rem;
  padding: 0.5rem;
  width: 60%;
  text-align: center;
  border: none; /* Añadí esto para remover el borde por defecto del botón de Bootstrap */
}

.btnBuy:hover {
  background-color: #8c5737;
}
