.btnCat {
  /* Estilos base */
  padding: 12px 24px;
  background-color: #dec5b6;
  color: #6a4f41;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  text-transform: capitalize;
}

.btnCat:hover {
  background-color: #4d2609;
  color: #ffffff;
  border-color: #c67c43;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* 
/* Estilo para el estado activo (cuando un botón está seleccionado) */
/* .btnCat.active {
  background-color: #6a4f41; 
  color: #ffffff; 
  border-color: #6a4f41; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(
    0
  );   
} */
