.iconFooter {
  width: 2.5rem;
  padding: 0.3rem;
}

.iconFooter:hover {
  transform: scale(1.1);
  background-color: rgb(95, 50, 50);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.footerPP {
  background-color: #b19583;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.53);
}

.fondoDiv {
  background-color: transparent;

  padding: 0.5rem;
  height: 6rem;
}
