/* Post.css */

.carousel {
  padding: 1.5rem; /* Padding para crear espacio alrededor de todo el carrusel */
  border-radius: 1.5rem;
  overflow: hidden;
  
}

.carousel .container-Carrousel {
  height: 400px;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para cada item del carrusel */
}

.carousel .carousel-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.carousel .carousel-caption h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.carousel .carousel-caption p {
  font-size: 1rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
