.stylesPage {
  background-image: url("https://images.pexels.com/photos/312418/pexels-photo-312418.jpeg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding: 0rem;
}

.blurEffect {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
