/* Post.css */

.carousel {
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: hidden;
  background: #fff;
}

.carousel-img {
  height: 400px;
  object-fit: cover; /* Mantiene la proporción de la imagen sin distorsionarla */
  display: hidden;
  border-radius: 1.5rem;
}

.carousel-caption {
  padding: 1rem 1.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    5deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  ); /* Degradado para legibilidad */
  text-align: left; /* Alineamos el texto a la izquierda */
}

.carousel-caption h3,
.carousel-caption p {
  color: white; /* Aseguramos que el texto sea blanco */
}
