.section {
  width: 100%;
  height: 3rem;
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 0.00938em;
  color: rgb(99, 27, 27);
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: unset;
}

.titleSection {
  font-size: xx-large;
}
